[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
tensorflow = "*"
numpy = "*"
pandas = "*"
scipy = "*"
kafka-python = "==1.4.3"
torchvision = "*"
moviepy = "*"
cffi = "*"
opencv-python = "*"
msgpack = "*"
easydict = "*"
Pillow = "*"
Cython = "*"
PyYAML = "*"
tensorboardX = "*"

[requires]
python_version = "3.6"
